.navbar {
    background-color: rgb(68, 66, 66);
    padding: 15px;
    display: flex;
    align-items: center;
  }
  
  .navtext {
    color: gold;
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
    padding-bottom: 5px;
  }
  
  .nav-button {
    margin-right: 10px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    position: relative; /* Ensure the ::after element is positioned relative to the button */
}

.nav-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(208, 188, 74, 0.864);
    transition: width 0.3s ease-in-out;
}

.nav-button:hover::after {
    width: 100%;
}

.nav-button:hover {
    color: rgb(249, 246, 246);
}

  
.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 3px;
}
  
.logo:hover {
   animation: nav-button 0.8s ease-in-out 1 alternate forwards;
}
  