.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
  }
  
  .scroll-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .scroll-button:hover {
    background-color: gold;
  }
  