.Skillcard {
  width: 150px;
  height: 150px;
  /* background-color: rgb(90, 89, 89); */
  border: 2px solid white;
  color: white;
  display: flex;     
  flex-direction: column;     /* Enable Flexbox */
  justify-content: center;    /* Center horizontally */
  align-items: center;        /* Center vertically */
  border-radius: 10px;        /* Optional: Add some border radius for better appearance */
  text-align: center;         /* Center text inside the card */
  margin: 50px;
  margin-top: 0%;
}

.Skillcard:hover {
  width: 150px;
  height: 150px;
  background-color: aliceblue;
  border: 2px solid white;
  color: black;
  display: flex;     
  flex-direction: column;     /* Enable Flexbox */
  justify-content: center;    /* Center horizontally */
  align-items: center;        /* Center vertically */
  border-radius: 10px;        /* Optional: Add some border radius for better appearance */
  text-align: center;         /* Center text inside the card */
  margin: 50px;
  margin-top: 0%;
}

/* Change skill-icon color when Skillcard is hovered */
.Skillcard:hover .skill-icon  {
  color: black; /* Change to the color you prefer */
}
.Skillcard:hover h5 {
  color: black; /* Change to the color you prefer */
}
.skill-media-icons {
  margin-left: 50px;
  display: flex;
  gap: 15px;
}

.skill-icon {
  font-size: 50px;
  color: #fbf9f9;
  transition: color 0.3s ease, transform 0.3s ease;
}

.skill-icon:hover {
  color: inherit; /* Change to any color you prefer */
  transform: scale(1.1);
}
