body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../src/img/home-bg.jpg');
  background-repeat: inherit;
  background-size: cover;
  background-attachment: fixed;
}
